In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('austinHousingData.csv')

In [3]:
df.head(10)

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.430632,-97.663078,1.98,2,True,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.432673,-97.661697,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.409748,-97.639771,1.98,0,True,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.432112,-97.661659,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.437368,-97.656860,1.98,0,True,...,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg
5,2080105342,pflugerville,14908 Spring Hill Ln,78660,"14908 Spring Hill Ln, Pflugerville, TX 78660 i...",30.437775,-97.656181,1.98,2,True,...,1,1,1.066667,4.000000,1223,14,2.0,3,1,2080105342_553d16748c296fce71f33902edd98d2d-p_...
6,241932337,pflugerville,14009 Cantata Ln,78660,This well-maintained 2016 home in the Retreat ...,30.414684,-97.643394,1.98,0,True,...,1,1,1.233333,3.666667,1051,12,3.0,4,2,241932337_78e2a51227f811bd3c65d6674e8a7939-p_f...
7,60134835,pflugerville,15009 Drusillas Dr,78660,"Wonderful home, freshly painted throughout, ne...",30.439404,-97.658035,1.98,0,True,...,1,1,1.166667,4.000000,1223,14,3.0,3,2,60134835_47efc51704a66b45a8a134022ceeddb1-p_f.jpg
8,60134833,pflugerville,1104 Traci Michelle Dr,78660,Solid 3 bed 2 bath with formal dining/living c...,30.439096,-97.657959,1.98,0,True,...,1,1,1.166667,4.000000,1223,14,2.0,3,2,60134833_aa596c71096f40a535ce679c788cae36-p_f.jpg
9,83827468,del valle,6808 Plains Crest Dr,78617,Beautiful 3 bed 2.5 bath home in great locatio...,30.160702,-97.638123,1.98,2,True,...,1,1,1.200000,3.000000,1615,14,3.0,3,2,83827468_017e0605bf1c5f86c4e18c99dd649432-p_f.jpg

In [5]:
#interested in hasAssociation or lastestPrice
df.dtypes

zpid                            int64
city                           object
streetAddress                  object
zipcode                         int64
description                    object
latitude                      float64
longitude                     float64
propertyTaxRate               float64
garageSpaces                    int64
hasAssociation                   bool
hasCooling                       bool
hasGarage                        bool
hasHeating                       bool
hasSpa                           bool
hasView                          bool
homeType                       object
parkingSpaces                   int64
yearBuilt                       int64
latestPrice                   float64
numPriceChanges                 int64
latest_saledate                object
latest_salemonth                int64
latest_saleyear                 int64
latestPriceSource              object
numOfPhotos                     int64
numOfAccessibilityFeatures      int64
numOfAppliances                 int64
numOfParkingFeatures            int64
numOfPatioAndPorchFeatures      int64
numOfSecurityFeatures           int64
numOfWaterfrontFeatures         int64
numOfWindowFeatures             int64
numOfCommunityFeatures          int64
lotSizeSqFt                   float64
livingAreaSqFt                float64
numOfPrimarySchools             int64
numOfElementarySchools          int64
numOfMiddleSchools              int64
numOfHighSchools                int64
avgSchoolDistance             float64
avgSchoolRating               float64
avgSchoolSize                   int64
MedianStudentsPerTeacher        int64
numOfBathrooms                float64
numOfBedrooms                   int64
numOfStories                    int64
homeImage                      object
dtype: object

In [10]:
df[['latestPrice']].mean()

latestPrice    512767.743722
dtype: float64

In [13]:
df['latest_saleyear'].unique()

array([2019, 2020, 2018, 2021])

In [14]:
df.isnull().sum(axis = 0)

zpid                          0
city                          0
streetAddress                 0
zipcode                       0
description                   0
latitude                      0
longitude                     0
propertyTaxRate               0
garageSpaces                  0
hasAssociation                0
hasCooling                    0
hasGarage                     0
hasHeating                    0
hasSpa                        0
hasView                       0
homeType                      0
parkingSpaces                 0
yearBuilt                     0
latestPrice                   0
numPriceChanges               0
latest_saledate               0
latest_salemonth              0
latest_saleyear               0
latestPriceSource             0
numOfPhotos                   0
numOfAccessibilityFeatures    0
numOfAppliances               0
numOfParkingFeatures          0
numOfPatioAndPorchFeatures    0
numOfSecurityFeatures         0
numOfWaterfrontFeatures       0
numOfWindowFeatures           0
numOfCommunityFeatures        0
lotSizeSqFt                   0
livingAreaSqFt                0
numOfPrimarySchools           0
numOfElementarySchools        0
numOfMiddleSchools            0
numOfHighSchools              0
avgSchoolDistance             0
avgSchoolRating               0
avgSchoolSize                 0
MedianStudentsPerTeacher      0
numOfBathrooms                0
numOfBedrooms                 0
numOfStories                  0
homeImage                     0
dtype: int64

In [15]:
df_housing = df[["city","streetAddress", "zipcode","description","latitude","longitude",
                "propertyTaxRate","hasAssociation","homeType","yearBuilt","latestPrice",
                "numPriceChanges","latest_saledate","latest_salemonth","latest_saleyear",
                "latestPriceSource","lotSizeSqFt","livingAreaSqFt"]].copy()

In [16]:
df_school_housing = df[["city","streetAddress", "zipcode","description","latitude",
                        "longitude","homeType","yearBuilt","latestPrice",
                        "numOfPrimarySchools","numOfElementarySchools",
                        "numOfMiddleSchools","numOfHighSchools","avgSchoolDistance",
                        "avgSchoolRating","avgSchoolSize","MedianStudentsPerTeacher"
                       ]].copy()