# Crime Data API

In [ ]:
#install sodapy if not already done so
#pip install sodapy

In [4]:
# Dependencies and Setup
import pandas as pd
from sodapy import Socrata
import time

# Import API key
from config import app_token
from config import api_key_id
from config import api_secret_key

In [30]:
start = time.perf_counter()

# create client variable with parameters
client = Socrata('data.austintexas.gov',
                 app_token=app_token,
                 username=api_key_id,
                 password=api_secret_key)

# retrieve data; look into limit ?get_all?
results = client.get("fdj4-gpfu", limit=3000000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

end = time.perf_counter()
print(f'{end-start}')

664.2806884000001

In [31]:
results_df.head()

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,occ_date,occ_time,rep_date_time,rep_date,rep_time,...,longitude,location,:@computed_region_a3it_2a2z,:@computed_region_8spj_utxs,:@computed_region_q9nd_rr82,:@computed_region_qwte_z96m,ucr_category,category_description,clearance_status,clearance_date
0,2022711569,HARASSMENT OF A PUBLIC SERVANT,2731,N,2022-03-12T23:56:00.000,2022-03-12T00:00:00.000,2356,2022-03-13T01:07:00.000,2022-03-13T00:00:00.000,107,...,-97.75813811,"{'latitude': '30.24339524', 'longitude': '-97....",2859,9,10,3853,NaN,NaN,NaN,NaN
1,2022711533,AUTO THEFT,700,N,2022-03-12T23:48:00.000,2022-03-12T00:00:00.000,2348,2022-03-13T00:34:00.000,2022-03-13T00:00:00.000,34,...,-97.71965158,"{'latitude': '30.30046387', 'longitude': '-97....",3640,9,10,NaN,240,Auto Theft,NaN,NaN
2,2022711556,DWI,2100,N,2022-03-12T23:45:00.000,2022-03-12T00:00:00.000,2345,2022-03-12T23:45:00.000,2022-03-12T00:00:00.000,2345,...,-97.64469476,"{'latitude': '30.29175691', 'longitude': '-97....",3240,1,8,NaN,NaN,NaN,NaN,NaN
3,2022711548,FAMILY DISTURBANCE,3400,N,2022-03-12T23:35:00.000,2022-03-12T00:00:00.000,2335,2022-03-12T23:35:00.000,2022-03-12T00:00:00.000,2335,...,-97.7264207,"{'latitude': '30.32538241', 'longitude': '-97....",3640,4,9,1081,NaN,NaN,NaN,NaN
4,2022711547,POSSESSION OF MARIJUANA,1803,N,2022-03-12T23:34:00.000,2022-03-12T00:00:00.000,2334,2022-03-13T00:52:00.000,2022-03-13T00:00:00.000,52,...,-97.68113471,"{'latitude': '30.30748924', 'longitude': '-97....",3239,1,8,NaN,NaN,NaN,C,2022-03-13T00:00:00.000

In [32]:
len(results_df)

2409186

# Housing Data API

In [1]:
#install kaggle if not already done so
# pip install kaggle

In [2]:
#create API key and Ensure kaggle.json is in the location ~/.kaggle/kaggle.json to use the API.
import kaggle

kaggle.api.authenticate()
kaggle.api.dataset_download_file('ericpierce/austinhousingprices', file_name='austinHousingData.csv',  path='Resources/')

True

In [5]:
housing_data = pd.read_csv('Resources/austinHousingData.csv.zip')
housing_data.head()

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.430632,-97.663078,1.98,2,True,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.432673,-97.661697,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.409748,-97.639771,1.98,0,True,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.432112,-97.661659,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.437368,-97.656860,1.98,0,True,...,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg

In [6]:
len(housing_data)

15171